.search-bar-container {
  background-color: rgb(255, 255, 255, 0.8);
  width: 80vh;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container {
  width: 150px;
  display: flex;
}
.drivers-btn,
.teams-btn {
  color: black;
  padding: 10px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  border-right: 1px solid white;
  border-left: none;
  border-bottom: none;
  border-top: none;
}
.drivers-btn:hover,
.teams-btn:hover {
  background-color: rgb(255, 0, 0, 0.7);
  color: white;
}
.drivers-btn {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.searchBar {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 180px;
  line-height: 20px;
  padding: 10px;
  border: none;
  outline: none;
}

.activePage {
  background-color: rgb(255, 0, 0, 0.7);
  color: white;
}
