.card-list {
  width: 110vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card-container {
  height: 250px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.card-container:hover {
  transform: scale(1.05);
}
.driver-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.driver-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-name,
.driver-number {
  padding: 5px;
  font-style: italic;
}
.team-name {
  font-size: 0.9em;
  border-radius: 8px;
  width: fit-content;
  position: absolute;
}
.driver-number {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.driver-pic {
  width: 23vh;
}
.driver-nat-img {
  width: 35px;
  height: fit-content;
}
