body {
  text-align: center;
  margin: 0;
  padding: 0;

  font-family: "Times New Roman", Times, serif;

  background: linear-gradient(
    to left,
    rgb(232, 55, 55) 0,
    rgb(255, 255, 255) 100%
  );
}
