body {
  text-align: center;
  margin: 0;
  padding: 10px;

  font-family: "Times New Roman", Times, serif;

  background: linear-gradient(
    to left,
    rgb(255, 255, 255) 0,
    rgb(255, 0, 0) 50%,
    rgb(255, 255, 255) 100%
  );
}
.main-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
